
section.panambi-faqs {
  background-color: var(--surface);
  padding-top: 160px;
  padding-bottom: 160px;

  @media (min-width: 576px) and (max-width: 991.98px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media (max-width: 575.98px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .faqs-header {
    margin-bottom: 80px;

    @media (min-width: 576px) and (max-width: 991.98px) {
      margin-bottom: 32px;
    }
  
    @media (max-width: 575.98px) {
      margin-bottom: 32px;
    }
  }

  .accordion-flush .accordion-item {
    border-radius: 8px;
  }
}