
$primary: #14648C !default;
$primary-pressed: #104763 !default;
$secondary: #02A2A2 !default;

// Accent Color
$accent: #593E82 !default;
$accent-2: #DB578A !default;
$accent-pressed: #432E63 !default;
  
  // Neutrals
$text: #3E4753 !default;
$text-light: #9F9F9F !default;
$white: #FFFFFF !default;
$surface: #F7F7FB !default;
$background-01: #EAF1F1 !default;
$background-02: #FFE9FD !default;
$header-01: #EBEBEB !default;
$borders: #D9DBE9 !default;
$shadow-on-surface: #4A515B !default;
$error: #DB5757 !default;
$secondary-button-pressed: #FFE9FD !default;
