$gradients: (
    header-01: linear-gradient(to right, #ECF6FC, #C8D1EB),
    header-02: linear-gradient(to right, #104763, #2E89B7),
    header-03: linear-gradient(to right, #D3E4F3, #E5DCF3),
    primary-button: linear-gradient(to right,#AA87F6, #DF66EA),
    primary-button-pressed: linear-gradient(to right,#9668F8, #DB62E5),
) !default;