
section.panambi-done-courses,
section.panambi-next-courses {
	background-color: var(--surface);
	padding-bottom: 200px;

	h2 {
		margin-bottom: 40px;
	}

	p {
		margin-bottom: 80px;
	}

	.courses-list {
		row-gap: 80px;
	}

	.courses-cta-btn {
		display: flex;
		justify-content: center;

		.panambi-btn {
			margin-top: 120px;
		}
	}
}

section.panambi-done-courses {
	padding-top: 160px;
}