@import "../../assets/scss/gradients";

section.panambi-my-values {
  padding-top: 160px;
  padding-bottom: 160px;

  @media (min-width: 576px) and (max-width: 991.98px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media (max-width: 575.98px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .values-list {
    row-gap: 40px;

    @media (min-width: 576px) and (max-width: 991.98px) {
      row-gap: 32px;
    }

    @media (max-width: 575.98px) {
      row-gap: 32px;
    }
  }

  h2 {
    margin-bottom: 40px;

    @media (min-width: 576px) and (max-width: 991.98px) {
      margin-bottom: 32px;
    }

    @media (max-width: 575.98px) {
      margin-bottom: 56px;
    }
  }
}