@import "../../assets/scss/mixins";

section.conferences-me {
    @include section-padding(160px, 120px, 80px);
    background: var(--background-01);

    h2 {
        @include responsive-margin(40px, 32px, 24px);
    }

    p:last-child {
        margin-bottom: 40px;
    }

    .row:last-child .col:last-child {
        text-align: center;

        @media (min-width:576px) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media (min-width:1200px) {
           justify-content: end;
        }

        @media (max-width:575.98px) {
            padding: 0;
        }
    }
}

