
.panambi-free-card {
	display: flex;
	background-color: var(--white);
	border-radius: 8px;
	//position: absolute;

	.card-body {
		display: flex;
		flex-direction: column;
		padding-top: 80px;
		padding-bottom: 80px;
		text-align: center;

		.card-name {
			text-align: center;
		}

		iframe {
			height: 405px;
			width: 100%;

			@media (max-width: 575.98px) {
				height: 207px;
			}
		}

		@media (max-width: 991.98px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		@media (max-width: 575.98px) {
			padding-top: 16px;
		}
	}

	.panambi-flag {
		position: relative;
		top: 0;
		right: 0;
	}
}