@import "../../assets/scss/gradients";

section.panambi-gradient-cover {
  background: map-get($gradients, header-02);
  color: var(--white);
  padding-top: 236px;
  padding-bottom: 236px;

  @media (min-width: 576px) and (max-width: 991.98px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media (max-width: 575.98px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .container-lg {
    display: flex;
    column-gap: 80px;

    @media (min-width: 576px) and (max-width: 991.98px) {
      column-gap: 60px;
    }

    @media (max-width: 575.98px) {
      flex-direction: column;
      row-gap: 32px;
    }
  }

  .gradient-cover-details {
    h1 {
      margin-bottom: 32px;

      @media (max-width: 575.98px) {
        margin-bottom: 24px;
      }
    }
  }
}